extends layout

block content
  link(rel="stylesheet" href="/stylesheets/index.css")
  // ここまでheadタグに含まれる
  body
    div.container
      div.row.login-area
        div.col-6
        div.col-6
          form(method="post" action="/login")
            div.form-group
              label(for="name") ニックネームを入力してください
              input(type="text" name="name" aria-describedby="user nickname" value="名無しさん").form-control#name
            div.form-group
              p アイコンを選んでください
              each src in iconsSrc
                input(type="radio" name="icon" value=src checked id=src).user-icon
                label(for=src)
                  img(src=src)
            button(type="submit").btn.btn-primary Submit
