extends layout

block content
  link(rel="stylesheet" href="/stylesheets/main.css")
  // ここまでheadタグに含まれる
  body
    div.container.full-height
      div.row.full-height
        div.col-6.left-section チャットエリア
        div.col-6.right-section
          p.title エクササイズを選んでください
            div.row
              
              button(type="button" class="" data-toggle="modal" data-target="#modalLong").btn.btn-primary Launch demo modal

    <!-- Modal -->
    div(tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: block;")#modalLong.modal.fade
      div(role="document").modal-dialog
        div.modal-content
          div.modal-header
            h5#exampleModalLongTitle.modal-title エクササイズを選んでください
          div.modal-body
            div.row
              div.col-6
                div.square-wrapper
                  img(src="images/kubi.jpg" alt="..." data-dismiss="modal").img-thumbnail.square
              div.col-6
                div.square-wrapper
                  img(src="images/sukuwatto.jpg" alt="..." data-dismiss="modal").img-thumbnail.square
              div.col-6
                div.square-wrapper
                  img(src="images/teashiage.jpg" alt="..." data-dismiss="modal").img-thumbnail.square
              div.col-6
                div.square-wrapper
                  img(src="images/kubi.jpg" alt="..." data-dismiss="modal").img-thumbnail.square
              div.col-6
                div.square-wrapper
                  img(src="images/sukuwatto.jpg" alt="..." data-dismiss="modal").img-thumbnail.square
              div.col-6
                div.square-wrapper
                  img(src="images/teashiage.jpg" alt="..." data-dismiss="modal").img-thumbnail.square
              div.col-6
                div.square-wrapper
                  img(src="images/kubi.jpg" alt="..." data-dismiss="modal").img-thumbnail.square
              div.col-6
                div.square-wrapper
                  img(src="images/sukuwatto.jpg" alt="..." data-dismiss="modal").img-thumbnail.square