/* 全体 */
body {
  height: 100%;
  margin: 0;
  user-select: none;
}

.full-height {
  height: 100%;
}

#left-column {
  height: 100%;
  padding-top: 80px;
  background-color: rgb(133, 156, 197);
  overflow-y: scroll;
}

#right-column {
  position: relative;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

/* 左カラム 投稿テンプレート */
.post {
  display: flex;
  align-items: center;
  width: 80%;
}

.post.mine {
  flex-direction: row-reverse;
  margin: 0 0 0 auto;
}

.icon {
  margin: 24px 4px 0 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.1s;
  object-fit: cover;
  object-position: 50% 0%; /* 左から50%, 上から0%の位置 */
}

.icon.hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.icon.mine {
  margin: 24px 0 0 4px;
}

.name {
  max-width: 52px;
  text-align: center;
  color: #444;
  font-weight: 600;
  font-size: 10px;
  transition: all 0.1s;
}

.name:not(.mine).hover {
  border-radius: 2px;
  background: rgba(255, 255, 102, 0.9);
}

.fukidashi {
  position: relative;
  display: inline-block;
  margin: 8px 0 8px 15px;
  padding: 10px 10px;
  min-width: 160px;
  max-width: 100%;
  min-height: 60px;
  border-radius: 5px;
  color: #555;
  font-size: 16px;
  background: #fff;
  transition: all 0.1s;
}

.fukidashi:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #fff;
}

.fukidashi.hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.fukidashi.mine {
  margin: 8px 15px 8px 0;
}

.fukidashi.mine:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #fff;
}

.wrapper-mention-comment {
  max-width: 160px;
}

.mention-comment.shrink {
  font-size: 12px;
}

.mention-comment.me {
  background: linear-gradient(transparent 60%, #ff6 60%);
}

.wrapper-text-comment {
  display: flex;
  justify-content: center;
}

.text-comment {
  margin: 8px 0;
  padding: 0;
}

.wrapper-img-comment {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 104px;
  margin-left: 16px;
  padding-bottom: 100%;
}

.img-comment {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 右カラム ヘッダー*/
.greeting {
  color: #555;
}

.cantClick {
  pointer-events: none;
  color:rgba(131, 130, 130, 0.432);
}

/* 右カラム タイマー*/
#timer-area {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

#notice {
  padding: 16px 0;
}

#notice.scrolled {
  padding: 8px 0;
  font-size: 16px;
}

/* 右カラム 選択したエクササイズを表示するエリア*/
.wrapper-img-selected {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 16px;
}

.img-selected,
.img-random {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px solid rgb(133,156,197);
  border-radius: 5px;
}

/* 右カラム タブエリア*/
.wrapper-nav-tabs {
  position: sticky;
  top: 75px;
  z-index: 10;
  width: 100%;
  padding: 0 16px 16px;
  background-color: #fff;
}

.at.line {
  background: linear-gradient(transparent 40%, #ff6 60%, transparent 90%);
}

.btn-stamp {
  width: 114px;
  height: 114px;
  margin-bottom: 8px;
  margin-right: 8px;
  object-fit: contain;
  transition: all 0.1s;
}

.btn-stamp:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.btn-stamp:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* 右カラム Chrome拡張機能 */
.extension-img {
  width: 100%;
  border-radius: 5px;
}

/* モーダルウインドウ */
.wrapper-img-menus {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 16px;
}

.img-menus {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.1s;
}

.img-menus:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.6);
}

.img-menus:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}