.left-section {
  height: 100%;
  padding-top: 80px;
  background-color: rgb(133, 156, 197);
  overflow-y: scroll;
}

.right-section {
  position: relative;
  height: 100%;
  background-color: #FFF;
  overflow-y: scroll;
}

/* モーダルウインドウ */
.wrapper-img-menus {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 16px;
}

.img-menus {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all .1s;
  user-select: none;
}

.img-menus:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 6px rgba(0,0,0,0.6);
}

.img-menus:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

/* 左カラム・チャットエリア */
.post {
  display: flex;
  align-items: center;
  width: 80%;
}

.post.own {
  flex-direction: row-reverse;
  margin: 0 0 0 auto;
}

.icon {
  margin: 24px 4px 0 0;
  width: 48px;
  border-radius: 50%;
  transition: all .1s;
  user-select: none;
}

.icon.hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.4)
}

.icon.own {
  margin: 24px 0 0 4px;
}

.name {
  text-align: center;
  color: #3A3A3A;
  user-select: none;
}

.fukidashi {
  position: relative;
  display: inline-block;
  margin: 8px 0 8px 15px;
  padding: 0px 10px;
  min-width: 160px;
  max-width: 100%;
  min-height: 60px;
  border-radius: 5px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  transition: all .1s;
}

.fukidashi.hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

.fukidashi.own {
  margin: 8px 15px 8px 0;
}

.fukidashi:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #FFF;
}

.fukidashi.own:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #FFF;
}

.text-comment {
  margin: 16px 0;
  padding: 0;
  text-align:center;
  user-select: none;
}

.wrapper-img-comment {
  position: relative;
  width: 100%;
  max-width: 104px;
  margin-left: 16px;
  padding-bottom: 100%;
}

.img-comment {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

/* 右カラム エクササイズ画像エリア*/
.title {
  margin: 16px 0;
}

.wrapper-img-selected {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 16px;
}

.img-selected, .img-random {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px solid rgb(0, 123, 255);
  border-radius: 5px;
  user-select: none;
}

/* 右カラム コメントボタンエリア */
/* tabs */
.wrapper-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}

.btn-stamp {
  width: 114px;
  height: 114px;
  margin-bottom: 8px;
  margin-right: 8px;
  object-fit: contain;
  transition: all .1s;
  user-select: none;
}

.btn-stamp:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

.btn-stamp:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
